body {
    margin: 0;
}
.logo-linha {
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    padding-top: 1%;
}
.panorama {
    height: 400px;
    background-image: url(img/panorama-horta.png);
    background-repeat: no-repeat;
    background-size: cover;
}